{{ define "main" }}
<section itemscope itemtype="http://schema.org/Blog">
    <h1 class="content-subhead">Posts</h1>

    {{ $pages := where site.RegularPages "Type" "in" site.Params.mainSections }}

    {{ range $pages }}
    <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
        <header>
            <h2 itemprop="headline">
                {{ if eq .Section "til" }}<abbr class="label radius til" title="Today I Learned">TIL</abbr>{{ end }}
                <a href="{{ .Permalink }}">{{ .Title }}</a>
            </h2>

            <span class="post-meta">
                <time pubdate="pubdate" datetime="{{ .Date.Format "2006-01-02" }}T00:00:00+01:00">
                    <meta itemprop="datePublished" content="{{ .Date.Format "2006-01-02" }}T00:00:00+01:00" />
                    {{ .Date.Format "2 January 2006" }}
                </time>
                —
                <span class="reading-time" title="Estimated reading time">
                    {{ if le .ReadingTime 1 }}
                        ~1 minute
                    {{ else }}
                        ~{{ .ReadingTime }} minutes
                    {{ end }}
                </span>
            </span>
        </header>

        <section class="post-description" itemprop="description">
            <p>
                {{ with .Params.Description }}
                    {{ . | markdownify }}
                {{ else }}
                    {{ .Summary }}
                {{ end }}
            </p>
        </section>
    </article>
    {{ end }}
</section>
{{ end }}
