<!DOCTYPE html>
<html class="no-js" lang="{{ $.Site.LanguageCode | default "en" }}" dir="ltr">
{{- partial "head.html" . -}}
<body>
<div id="layout" class="pure-g">
    {{- partial "header.html" . -}}

    <div class="pure-u-1">
        <div class="content">
            {{- block "main" . }}{{- end }}

            {{- partial "footer.html" . -}}
        </div>
    </div>
</div>

{{ if .Page.Store.Get "hasMermaid" }}
<script type="module">
    import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid@11.9.0/+esm';
    mermaid.initialize({
        startOnLoad: true,
        theme: 'neutral',
    });
</script>
{{ end }}
</body>
</html>
